---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" />
    <title>Ali H. M.</title>
  </head>
  <body class="bg-black text-white font-sans">
    <Navbar />
    <main class="px-4 sm:px-8 md:px-16 py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>